.emailSent {
    width: 100vw;
    height: 100vh;
}

.emailSentCont {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailSentCont>div {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: rgb(187, 187, 187);
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
}